.headlines {
    width: 75%;
    background-color: #F2F3F4;
    overflow-y:scroll;
    height:600px;
    display:block;

}
/* headline container */ 

.headline{
    margin-top: 10px;
}

/* headline text*/
h6{
    color: black;
}

 /* Make table names responsive*/
.name{
    cursor: pointer;
    color: black;
}

.display-4 {
    font-style: italic;
    color: lightcoral;
    font-weight: bolder;
}

.lead {
    font-weight: 800;
    font-style: italic;
}

.title {
    font-style: italic;
}

table{
    overflow-y:scroll;
    height:600px;
    display:block; 
}

img{
    margin: auto;
}